---
layout: default
comments: true
---

{% include wrap.html %}

<div class="container mt">
    <div class="row">

        {% include carousel.html %}

        <div class="col-lg-5 col-lg-offset-1">
            <div class="spacing"></div>

            {{ content }}

        </div>
        <div class="col-lg-4 col-lg-offset-1">
            <div class="spacing"></div>
            <h4>Project Details</h4>
            <div class="hline"></div>
            <p><b>Date:</b> {{ page.date | date: "%b %-d, %Y" }}</p>
            <p><b>Author:</b> {{ page.author }}</p>
        <!--    <p><b>Categories:</b> {{page.categories}}</p>-->
            <p><b>Tags:</b> {{ page.tags }}</p>
        <!--    <p><b>Client:</b> {{ page.client }}</p>-->
        <!--    <p><b>Website:</b> <a href="{{ page.website }}">{{ page.website }}</a></p>-->
			<div class="hline"></div>
            <div class="spacing"></div>
            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
			<!-- sidebar -->
			<ins class="adsbygoogle"
				 style="display:block"
				 data-ad-client="ca-pub-7816252471679024"
				 data-ad-slot="3102847441"
				 data-ad-format="auto"></ins>
			<script>
			(adsbygoogle = window.adsbygoogle || []).push({});
			</script>
        </div>
		
		<div class="col-lg-4 col-lg-offset-1">

        </div>
		
    </div><! --/row -->
        {% if page.comments %}
            {% include disqus.html %}
        {% endif %}
</div><! --/container -->
	 
{% include portfolio.html title="Related Works." limit=5 %}